In [1]:
# packages
from datetime import datetime
import os
import pandas as pd
from pathlib import Path
import concurrent.futures
import json
import warnings
import inflection


def read_and_parse_file(file_path, start_index, end_index):
    with open(file_path, "r") as file:
        js_object = file.read()
    data = js_object.strip()[start_index:-end_index]
    json_data = json.loads(data)
    return json_data


def read_json_files(folder_path, data_type, start_index, end_index):
    json_data_list = []
    file_paths = list(Path(folder_path).rglob(f"*{data_type}.js"))

    with concurrent.futures.ThreadPoolExecutor() as executor:
        futures = [
            executor.submit(read_and_parse_file, path, start_index, end_index)
            for path in file_paths
        ]

        for future in concurrent.futures.as_completed(futures):
            json_data = future.result()
            json_data_list.append(json_data)

    return json_data_list


def read_csv_files(folder_path):
    dataframes = []
    file_paths = list(Path(folder_path).rglob("*.csv"))

    with concurrent.futures.ThreadPoolExecutor() as executor:
        futures = [
            executor.submit(pd.read_csv, path, dtype={"column20": str, "column21": str})
            for path in file_paths
        ]

        for future in concurrent.futures.as_completed(futures):
            df = future.result()
            dataframes.append(df)

    final_dataframe = pd.concat(dataframes, ignore_index=True)
    return final_dataframe


def combine_squad_data(json_list):
    comined_json_list = []

    for json_obj in json_list:
        squad_a = json_obj.get("squadA", [])
        squad_b = json_obj.get("squadB", [])

        divided_json_1 = {"squad": squad_a}
        divided_json_2 = {"squad": squad_b}

        comined_json_list.append(divided_json_1)
        comined_json_list.append(divided_json_2)

    return comined_json_list


def combine_innings_data(innings_1_json_data_list, innings_2_json_data_list):
    combined_data = []

    # Append the JSON objects from the first list
    for innings_1_json_data in innings_1_json_data_list:
        combined_data.append(innings_1_json_data["Innings1"])

    # Append the JSON objects from the second list
    for innings_2_json_data in innings_2_json_data_list:
        combined_data.append(innings_2_json_data["Innings2"])

    return combined_data


def convert_json_list_to_df(json_data_list, key_name):
    dataframes = []
    for json_data in json_data_list:
        df = pd.DataFrame(json_data[key_name])
        dataframes.append(df)
    final_dataframe = pd.concat(dataframes, ignore_index=True)

    return final_dataframe

In [2]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

data_path = os.getenv("data_path")

data_feeds_path = f"{data_path}/Data_Feeds"
squad_feeds_path = f"{data_path}/Squad_Feeds"
other_tournament_data_path = f"{data_path}/other-tournament-data"

# file name of collected data
match_schedule_file_name = "matchSchedule"
match_squad_file_name = "squad"
match_summary_file_name = "matchsummary"
match_inning1_file_name = "Innings1"
match_inning2_file_name = "Innings2"

# key value of relevant data in json objects of collected data
match_result_key = "Result"
match_player_key = "squad"
match_summary_key = "MatchSummary"
match_batting_card_key = "BattingCard"
match_extras_key = "Extras"
match_fall_of_wickets_key = "FallOfWickets"
match_wagon_wheel_key = "WagonWheel"
match_partnership_scores_key = "PartnershipScores"
match_partnership_break_key = "PartnershipBreak"
match_bowling_card_key = "BowlingCard"
match_manhattan_graph_key = "ManhattanGraph"
match_manhattan_wickets_key = "ManhattanWickets"
match_over_history_key = "OverHistory"
match_wagon_wheel_summary_key = "WagonWheelSummary"
match_batting_head_to_head_key = "battingheadtohead"
match_bowling_head_to_head_key = "battingheadtohead"

In [3]:
def load_match_result_data():
    match_schedule_json_data_list = read_json_files(
        data_feeds_path, match_schedule_file_name, 14, 2
    )
    return convert_json_list_to_df(match_schedule_json_data_list, match_result_key)


def load_match_player_data():
    match_squad_json_data_list = read_json_files(
        squad_feeds_path, match_squad_file_name, 8, 2
    )
    match_player_json_data_list = combine_squad_data(match_squad_json_data_list)
    return convert_json_list_to_df(match_player_json_data_list, match_player_key)


def load_match_summary_data():
    match_summary_json_data_list = read_json_files(
        data_feeds_path, match_summary_file_name, 22, 2
    )
    return convert_json_list_to_df(match_summary_json_data_list, match_summary_key)


def load_match_innings_data():
    innings_1_json_data_list = read_json_files(
        data_feeds_path, match_inning1_file_name, 10, 2
    )
    innings_2_json_data_list = read_json_files(
        data_feeds_path, match_inning2_file_name, 10, 2
    )
    innings_json_data_list = combine_innings_data(
        innings_1_json_data_list, innings_2_json_data_list
    )
    match_batting_card = convert_json_list_to_df(
        innings_json_data_list, match_batting_card_key
    )
    match_extras = convert_json_list_to_df(innings_json_data_list, match_extras_key)
    match_fall_of_wickets = convert_json_list_to_df(
        innings_json_data_list, match_fall_of_wickets_key
    )
    match_wagon_wheel = convert_json_list_to_df(
        innings_json_data_list, match_wagon_wheel_key
    )
    match_partnership_scores = convert_json_list_to_df(
        innings_json_data_list, match_partnership_scores_key
    )
    match_partnership_break = convert_json_list_to_df(
        innings_json_data_list, match_partnership_break_key
    )
    match_bowling_card = convert_json_list_to_df(
        innings_json_data_list, match_bowling_card_key
    )
    match_manhattan_graph = convert_json_list_to_df(
        innings_json_data_list, match_manhattan_graph_key
    )
    match_manhattan_wickets = convert_json_list_to_df(
        innings_json_data_list, match_manhattan_wickets_key
    )
    match_over_history = convert_json_list_to_df(
        innings_json_data_list, match_over_history_key
    )
    match_wagon_wheel_summary = convert_json_list_to_df(
        innings_json_data_list, match_wagon_wheel_summary_key
    )
    match_batting_head_to_head = convert_json_list_to_df(
        innings_json_data_list, match_batting_head_to_head_key
    )
    match_bowling_head_to_head = convert_json_list_to_df(
        innings_json_data_list, match_bowling_head_to_head_key
    )

    dataframes = {
        "match_batting_card": match_batting_card,
        "match_extras": match_extras,
        "match_fall_of_wickets": match_fall_of_wickets,
        "match_wagon_wheel": match_wagon_wheel,
        "match_partnership_scores": match_partnership_scores,
        "match_partnership_break": match_partnership_break,
        "match_bowling_card": match_bowling_card,
        "match_manhattan_graph": match_manhattan_graph,
        "match_manhattan_wickets": match_manhattan_wickets,
        "match_over_history": match_over_history,
        "match_wagon_wheel_summary": match_wagon_wheel_summary,
        "match_batting_head_to_head": match_batting_head_to_head,
        "match_bowling_head_to_head": match_bowling_head_to_head,
    }

    return dataframes


def load_match_ball_data():
    match_balls = read_csv_files(other_tournament_data_path)
    return match_balls

In [4]:
match_result_data = load_match_result_data()
print(f"match results: {match_result_data.shape}")
print("Match Results Schema:")
print(match_result_data.info())

match_summary_data = load_match_summary_data()
print(f"match summaries: {match_summary_data.shape}")
print("Match Summaries Schema:")
print(match_summary_data.info())

match_player_data = load_match_player_data()
print(f"match players: {match_player_data.shape}")
print("Match Players Schema:")
print(match_player_data.info())

match_ball_data = load_match_ball_data()
print(f"match balls: {match_ball_data.shape}")
print("Match Balls Schema:")
print(match_ball_data.info())

innings_dataframes = load_match_innings_data()

for name, dataframe in innings_dataframes.items():
    print(f"\n{name} DataFrame:")
    print("Shape:", dataframe.shape)
    print("Columns:", dataframe.info())

match results: (118, 23)
Match Results Schema:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CompetitionID          118 non-null    object
 1   MatchID                118 non-null    object
 2   MatchTypeID            118 non-null    object
 3   MatchType              118 non-null    object
 4   MatchStatus            118 non-null    object
 5   MatchName              118 non-null    object
 6   MatchDate              118 non-null    object
 7   MatchTime              118 non-null    object
 8   FirstBattingTeamID     118 non-null    object
 9   FirstBattingTeamName   118 non-null    object
 10  HomeTeamLogo           118 non-null    object
 11  SecondBattingTeamID    118 non-null    object
 12  SecondBattingTeamName  118 non-null    object
 13  AwayTeamLogo           118 non-null    object
 14  GroundID               118 non-null    object
 15  GroundName             118 non-null    object
 16  Comments               118 non-null    object
 17  TossDetails            118 non-null    object
 18  TossTeam               118 non-null    object
 19  TossText               118 non-null    object
 20  FirstBattingSummary    118 non-null    object
 21  SecondBattingSummary   118 non-null    object
 22  MatchDateOrder         118 non-null    int64
dtypes: int64(1), object(22)
memory usage: 21.3+ KB
None
match summaries: (60, 69)
Match Summaries Schema:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 69 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MatchID                         60 non-null     object
 1   CompetitionName                 60 non-null     object
 2   Team1                           60 non-null     object
 3   Team2                           60 non-null     object
 4   Team1Logo                       60 non-null     object
 5   Team2Logo                       60 non-null     object
 6   MatchName                       60 non-null     object
 7   MatchDate                       60 non-null     object
 8   MatchType                       60 non-null     object
 9   FirstBattingTeamID              60 non-null     object
 10  FirstBattingTeamLogo            60 non-null     object
 11  FirstBattingTeam                60 non-null     object
 12  SecondBattingTeamID             60 non-null     object
 13  SecondBattingTeamLogo           60 non-null     object
 14  SecondBattingTeam               60 non-null     object
 15  SecondInningsFirstBattingID     60 non-null     object
 16  SecondInningsFirstBattingName   60 non-null     object
 17  SecondInningsSecondBattingID    60 non-null     object
 18  SecondInningsSecondBattingName  60 non-null     object
 19  TossDetails                     60 non-null     object
 20  BreakComments                   60 non-null     object
 21  GroundName                      60 non-null     object
 22  Comments                        60 non-null     object
 23  PointsComments                  60 non-null     object
 24  RevisedOver                     60 non-null     object
 25  RevisedTarget                   60 non-null     object
 26  RequiredRunRate                 60 non-null     object
 27  ChasingText                     60 non-null     object
 28  Target                          60 non-null     object
 29  CurrentInnings                  60 non-null     object
 30  IsMatchEnd                      60 non-null     int64
 31  Umpire1Name                     60 non-null     object
 32  Umpire2Name                     60 non-null     object
 33  Umpire3Name                     60 non-null     object
 34  VideoAnalyst1                   60 non-null     object
 35  VideoAnalyst2                   60 non-null     object
 36  Referee                         60 non-null     object
 37  CurrentStrikerID                60 non-null     object
 38  CurrentBowlerID                 60 non-null     object
 39  CurrentStrikerName              60 non-null     object
 40  CurrentNonStrikerID             60 non-null     object
 41  CurrentNonStrikerName           60 non-null     object
 42  CurrentBowlerName               60 non-null     object
 43  1Summary                        60 non-null     object
 44  1FallScore                      60 non-null     object
 45  1FallWickets                    60 non-null     object
 46  1FallOvers                      60 non-null     object
 47  1RunRate                        60 non-null     object
 48  2Summary                        60 non-null     object
 49  2FallScore                      60 non-null     object
 50  2FallWickets                    60 non-null     object
 51  2FallOvers                      60 non-null     object
 52  2RunRate                        60 non-null     object
 53  3Summary                        60 non-null     object
 54  3FallScore                      60 non-null     object
 55  3FallWickets                    60 non-null     object
 56  3FallOvers                      60 non-null     object
 57  3RunRate                        60 non-null     object
 58  4Summary                        60 non-null     object
 59  4FallScore                      60 non-null     object
 60  4FallWickets                    60 non-null     object
 61  4FallOvers                      60 non-null     object
 62  4RunRate                        60 non-null     object
 63  TimerValue                      60 non-null     object
 64  IsSuperOver                     60 non-null     object
 65  FBURL                           60 non-null     object
 66  WinningTeamID                   60 non-null     object
 67  MOM                             60 non-null     object
 68  SuperOverMatchID                0 non-null      object
dtypes: int64(1), object(68)
memory usage: 32.5+ KB
None
match players: (1335, 13)
Match Players Schema:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1335 entries, 0 to 1334
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TeamID              1335 non-null   object
 1   TeamCode            1335 non-null   object
 2   TeamName            1335 non-null   object
 3   TeamImage           1335 non-null   object
 4   PlayerName          1335 non-null   object
 5   PlayerShortName     1335 non-null   object
 6   PlayerImage         1335 non-null   object
 7   PlayerID            1335 non-null   object
 8   BattingType         1335 non-null   object
 9   BowlingProficiency  1335 non-null   object
 10  PlayerSkill         1335 non-null   object
 11  IsCaptain           1335 non-null   int64
 12  IsViceCaptain       1335 non-null   int64
dtypes: int64(2), object(11)
memory usage: 135.7+ KB
None
match balls: (70582, 22)
Match Balls Schema:

/usr/lib/python3.11/concurrent/futures/thread.py:58: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  result = self.fn(*self.args, **self.kwargs)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70582 entries, 0 to 70581
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   match_id                70582 non-null  int64
 1   season                  70582 non-null  object
 2   start_date              70582 non-null  object
 3   venue                   70582 non-null  object
 4   innings                 70582 non-null  int64
 5   ball                    70582 non-null  float64
 6   batting_team            70582 non-null  object
 7   bowling_team            70582 non-null  object
 8   striker                 70582 non-null  object
 9   non_striker             70582 non-null  object
 10  bowler                  70582 non-null  object
 11  runs_off_bat            70582 non-null  int64
 12  extras                  70582 non-null  int64
 13  wides                   2108 non-null   float64
 14  noballs                 242 non-null    float64
 15  byes                    228 non-null    float64
 16  legbyes                 1055 non-null   float64
 17  penalty                 1 non-null      float64
 18  wicket_type             3781 non-null   object
 19  player_dismissed        3781 non-null   object
 20  other_wicket_type       1 non-null      object
 21  other_player_dismissed  1 non-null      object
dtypes: float64(6), int64(4), object(12)
memory usage: 11.8+ MB
None

match_batting_card DataFrame:
Shape: (1320, 31)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MatchID             1320 non-null   object
 1   InningsNo           1320 non-null   object
 2   TeamID              1320 non-null   object
 3   PlayerID            1320 non-null   object
 4   BatSpec             1320 non-null   object
 5   BowlSpec            1320 non-null   object
 6   PlayerName          1320 non-null   object
 7   PlayerImage         1320 non-null   object
 8   PlayingOrder        1320 non-null   int64
 9   BowlerName          1320 non-null   object
 10  OutDesc             1320 non-null   object
 11  Runs                1320 non-null   object
 12  Balls               1320 non-null   object
 13  DotBalls            1320 non-null   object
 14  DotBallPercentage   1320 non-null   object
 15  DotBallFrequency    1320 non-null   object
 16  Ones                1320 non-null   object
 17  Twos                1320 non-null   object
 18  Threes              1320 non-null   object
 19  Fours               1320 non-null   object
 20  Sixes               1320 non-null   object
 21  BoundaryPercentage  1320 non-null   object
 22  BoundaryFrequency   1320 non-null   object
 23  StrikeRate          1320 non-null   object
 24  MinOver             1320 non-null   float64
 25  MinStrikerOver      1320 non-null   float64
 26  WicketNo            1320 non-null   object
 27  AgainstFast         1320 non-null   object
 28  AgainstFastPercent  1320 non-null   object
 29  AgainstSpin         1320 non-null   object
 30  AgainstSpinPercent  1320 non-null   object
dtypes: float64(2), int64(1), object(28)
memory usage: 319.8+ KB
Columns: None

match_extras DataFrame:
Shape: (120, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MatchID             120 non-null    object
 1   InningsNo           120 non-null    object
 2   TeamID              120 non-null    object
 3   Total               120 non-null    object
 4   TotalExtras         120 non-null    object
 5   Byes                120 non-null    object
 6   LegByes             120 non-null    object
 7   NoBalls             120 non-null    object
 8   Wides               120 non-null    object
 9   Penalty             120 non-null    object
 10  CurrentRunRate      120 non-null    object
 11  FallScore           120 non-null    object
 12  FallWickets         120 non-null    object
 13  FallOvers           120 non-null    object
 14  BattingTeamName     120 non-null    object
 15  BowlingTeamName     120 non-null    object
 16  MaxPartnerShipRuns  120 non-null    int64
dtypes: int64(1), object(16)
memory usage: 16.1+ KB
Columns: None

match_fall_of_wickets DataFrame:
Shape: (707, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707 entries, 0 to 706
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MatchID      707 non-null    object
 1   InningsNo    707 non-null    object
 2   TeamID       707 non-null    object
 3   PlayerID     707 non-null    object
 4   PlayerName   707 non-null    object
 5   Score        707 non-null    object
 6   FallScore    707 non-null    object
 7   FallWickets  707 non-null    object
 8   FallOvers    707 non-null    object
dtypes: object(9)
memory usage: 49.8+ KB
Columns: None

match_wagon_wheel DataFrame:
Shape: (8532, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8532 entries, 0 to 8531
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BallID              8532 non-null   object
 1   StrikerID           8532 non-null   object
 2   BowlerID            8532 non-null   object
 3   FielderAngle        8532 non-null   float64
 4   FielderLengthRatio  8532 non-null   float64
 5   Runs                8532 non-null   int64
 6   BatType             8532 non-null   object
 7   IsFour              8532 non-null   bool
 8   IsSix               8532 non-null   bool
dtypes: bool(2), float64(2), int64(1), object(4)
memory usage: 483.4+ KB
Columns: None

match_partnership_scores DataFrame:
Shape: (1606, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1606 entries, 0 to 1605
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MatchID           1606 non-null   object
 1   BattingTeamID     1606 non-null   object
 2   InningsNo         1606 non-null   object
 3   StrikerID         1606 non-null   object
 4   Striker           1606 non-null   object
 5   NonStrikerID      1606 non-null   object
 6   NonStriker        1606 non-null   object
 7   PartnershipTotal  1606 non-null   int64
 8   StrikerRuns       1606 non-null   int64
 9   StrikerBalls      1606 non-null   int64
 10  Extras            1606 non-null   int64
 11  NonStrikerRuns    1606 non-null   int64
 12  NonStrikerBalls   1606 non-null   int64
 13  MatchMaxOver      1606 non-null   float64
 14  MatchMinOver      1606 non-null   float64
dtypes: float64(2), int64(6), object(7)
memory usage: 188.3+ KB
Columns: None

match_partnership_break DataFrame:
Shape: (708, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InningsNo     708 non-null    object
 1   OverNo        708 non-null    object
 2   WicketNo      708 non-null    object
 3   WicketType    708 non-null    object
 4   OutBatsmanID  708 non-null    object
dtypes: object(5)
memory usage: 27.8+ KB
Columns: None

match_bowling_card DataFrame:
Shape: (712, 32)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   MatchID                712 non-null    object
 1   InningsNos             712 non-null    int64
 2   TeamID                 712 non-null    object
 3   PlayerID               712 non-null    object
 4   BatSpec                712 non-null    object
 5   BowlSpec               712 non-null    object
 6   PlayerName             712 non-null    object
 7   PlayerImage            712 non-null    object
 8   Overs                  712 non-null    object
 9   Maidens                712 non-null    int64
 10  Runs                   712 non-null    int64
 11  Wickets                712 non-null    int64
 12  Wides                  712 non-null    int64
 13  NoBalls                712 non-null    int64
 14  Economy                712 non-null    object
 15  BowlingOrder           712 non-null    int64
 16  InningsNo              712 non-null    object
 17  TotalLegalBallsBowled  712 non-null    int64
 18  ScoringBalls           712 non-null    int64
 19  DotBalls               712 non-null    int64
 20  DBPercent              712 non-null    object
 21  DBFrequency            712 non-null    object
 22  Ones                   712 non-null    int64
 23  Twos                   712 non-null    int64
 24  Threes                 712 non-null    int64
 25  Fours                  712 non-null    int64
 26  Sixes                  712 non-null    int64
 27  BdryPercent            712 non-null    object
 28  BdryFreq               712 non-null    object
 29  StrikeRate             712 non-null    object
 30  FourPercent            712 non-null    object
 31  SixPercent             712 non-null    object
dtypes: int64(15), object(17)
memory usage: 178.1+ KB
Columns: None

match_manhattan_graph DataFrame:
Shape: (4516, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4516 entries, 0 to 4515
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   InningsNo   4516 non-null   object
 1   OverNo      4516 non-null   int64
 2   OverRuns    4516 non-null   float64
 3   BowlerRuns  4516 non-null   int64
 4   BowlerID    4516 non-null   object
 5   Wickets     4516 non-null   int64
 6   Bowler      4516 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 247.1+ KB
Columns: None

match_manhattan_wickets DataFrame:
Shape: (1404, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404 entries, 0 to 1403
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InningsNo     1404 non-null   object
 1   OverNo        1404 non-null   int64
 2   OutBatsman    1404 non-null   object
 3   OutDesc       1404 non-null   object
 4   BatsmanRuns   1404 non-null   int64
 5   BatsmanBalls  1404 non-null   int64
dtypes: int64(3), object(3)
memory usage: 65.9+ KB
Columns: None

match_over_history DataFrame:
Shape: (13805, 59)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13805 entries, 0 to 13804
Data columns (total 59 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   BallID            13805 non-null  object
 1   MatchID           13805 non-null  object
 2   InningsNos        13805 non-null  int64
 3   BattingTeamID     13805 non-null  object
 4   TeamName          13805 non-null  object
 5   StrikerID         13805 non-null  object
 6   NonStrikerID      13805 non-null  object
 7   BatsManName       13805 non-null  object
 8   BowlerID          13805 non-null  object
 9   BowlerName        13805 non-null  object
 10  BowlerType        13805 non-null  object
 11  OverNo            13805 non-null  int64
 12  OverName          13805 non-null  object
 13  BallNo            13805 non-null  int64
 14  Runs              13805 non-null  object
 15  BallRuns          13805 non-null  object
 16  RunsText          13805 non-null  object
 17  ActualRuns        13805 non-null  int64
 18  IsOne             13805 non-null  int64
 19  IsTwo             13805 non-null  int64
 20  IsThree           13805 non-null  int64
 21  IsDotball         13805 non-null  int64
 22  BallCount         13805 non-null  int64
 23  Extras            13805 non-null  int64
 24  IsWide            13805 non-null  bool
 25  IsNoBall          13805 non-null  bool
 26  IsBye             13805 non-null  bool
 27  IsLegBye          13805 non-null  bool
 28  IsFour            13805 non-null  bool
 29  IsSix             13805 non-null  bool
 30  BowlType          13805 non-null  object
 31  ShotType          13805 non-null  object
 32  Length            13805 non-null  object
 33  Line              13805 non-null  object
 34  IsWicket          13805 non-null  int64
 35  WicketType        13805 non-null  object
 36  Wickets           13805 non-null  object
 37  VideoFile         13805 non-null  object
 38  CommentOver       13805 non-null  object
 39  BallName          13805 non-null  object
 40  CommentStrikers   13805 non-null  object
 41  NewCommentry      13805 non-null  object
 42  IsExtra           13805 non-null  int64
 43  OutBatsManID      13805 non-null  object
 44  SNO               13805 non-null  int64
 45  BallTime          13805 non-null  object
 46  FBCommentry       0 non-null      object
 47  Xpitch            13805 non-null  int64
 48  Ypitch            13805 non-null  int64
 49  IsBowlerWicket    13805 non-null  int64
 50  IsBeaten          13805 non-null  bool
 51  IsUncomfortable   13805 non-null  bool
 52  BowlingDirection  13805 non-null  object
 53  IsMaiden          13805 non-null  int64
 54  InningsNo         13805 non-null  object
 55  TotalRuns         13805 non-null  int64
 56  TotalWickets      13805 non-null  int64
 57  OverRuns          13805 non-null  int64
 58  Commentry         13805 non-null  object
dtypes: bool(8), int64(20), object(31)
memory usage: 5.5+ MB
Columns: None

match_wagon_wheel_summary DataFrame:
Shape: (120, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MatchID        120 non-null    object
 1   BattingTeamID  120 non-null    object
 2   InningsNo      120 non-null    object
 3   Ones           120 non-null    int64
 4   Twos           120 non-null    int64
 5   Threes         120 non-null    int64
 6   Fours          120 non-null    int64
 7   Sixes          120 non-null    int64
dtypes: int64(5), object(3)
memory usage: 7.6+ KB
Columns: None

match_batting_head_to_head DataFrame:
Shape: (3021, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3021 entries, 0 to 3020
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   KPI                3021 non-null   object
 1   BatsManID          3021 non-null   object
 2   BowlerID           3021 non-null   object
 3   BatsManName        3021 non-null   object
 4   BowlerName         3021 non-null   object
 5   Runs               3021 non-null   int64
 6   RunsThroughExtras  3021 non-null   int64
 7   TotalRuns          3021 non-null   int64
 8   BallsFaced         3021 non-null   int64
 9   StrikeRate         3021 non-null   float64
 10  DotBalls           3021 non-null   int64
 11  DBPercent          3021 non-null   float64
 12  DotBallFrequency   3021 non-null   float64
 13  ScoringBalls       3021 non-null   int64
 14  Ones               3021 non-null   int64
 15  Twos               3021 non-null   int64
 16  Threes             3021 non-null   int64
 17  Fours              3021 non-null   int64
 18  Sixes              3021 non-null   int64
 19  BdryFreq           3021 non-null   float64
 20  BdryPercent        3021 non-null   float64
 21  WicketsLost        3021 non-null   int64
 22  RPSS               3021 non-null   float64
dtypes: float64(6), int64(12), object(5)
memory usage: 543.0+ KB
Columns: None

match_bowling_head_to_head DataFrame:
Shape: (3021, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3021 entries, 0 to 3020
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   KPI                3021 non-null   object
 1   BatsManID          3021 non-null   object
 2   BowlerID           3021 non-null   object
 3   BatsManName        3021 non-null   object
 4   BowlerName         3021 non-null   object
 5   Runs               3021 non-null   int64
 6   RunsThroughExtras  3021 non-null   int64
 7   TotalRuns          3021 non-null   int64
 8   BallsFaced         3021 non-null   int64
 9   StrikeRate         3021 non-null   float64
 10  DotBalls           3021 non-null   int64
 11  DBPercent          3021 non-null   float64
 12  DotBallFrequency   3021 non-null   float64
 13  ScoringBalls       3021 non-null   int64
 14  Ones               3021 non-null   int64
 15  Twos               3021 non-null   int64
 16  Threes             3021 non-null   int64
 17  Fours              3021 non-null   int64
 18  Sixes              3021 non-null   int64
 19  BdryFreq           3021 non-null   float64
 20  BdryPercent        3021 non-null   float64
 21  WicketsLost        3021 non-null   int64
 22  RPSS               3021 non-null   float64
dtypes: float64(6), int64(12), object(5)
memory usage: 543.0+ KB
Columns: None

In [5]:
print(match_result_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CompetitionID          118 non-null    object
 1   MatchID                118 non-null    object
 2   MatchTypeID            118 non-null    object
 3   MatchType              118 non-null    object
 4   MatchStatus            118 non-null    object
 5   MatchName              118 non-null    object
 6   MatchDate              118 non-null    object
 7   MatchTime              118 non-null    object
 8   FirstBattingTeamID     118 non-null    object
 9   FirstBattingTeamName   118 non-null    object
 10  HomeTeamLogo           118 non-null    object
 11  SecondBattingTeamID    118 non-null    object
 12  SecondBattingTeamName  118 non-null    object
 13  AwayTeamLogo           118 non-null    object
 14  GroundID               118 non-null    object
 15  GroundName             118 non-null    object
 16  Comments               118 non-null    object
 17  TossDetails            118 non-null    object
 18  TossTeam               118 non-null    object
 19  TossText               118 non-null    object
 20  FirstBattingSummary    118 non-null    object
 21  SecondBattingSummary   118 non-null    object
 22  MatchDateOrder         118 non-null    int64
dtypes: int64(1), object(22)
memory usage: 21.3+ KB
None

In [6]:
venue_df = (
    match_result_data.loc[:, ["GroundID", "GroundName"]]
    .drop_duplicates()
    .rename(columns={"GroundID": "src_venue_id", "GroundName": "stadium_name"})
)

In [7]:
print(venue_df)

        src_venue_id                              stadium_name
0   2d76e13f3def482f                         DOCKLANDS STADIUM
2   462dad2f1cf347ce                            BELLERIVE OVAL
3   fd4b3ccd1f524288                  MELBOURNE CRICKET GROUND
4   b94d68f812c1498a                             ADELAIDE OVAL
5   3908affef270416e                               MANUKA OVAL
6   3b32cf9b18174328                   BRISBANE CRICKET GROUND
8   f93b47c36dce4767                             PERTH STADIUM
10  09b368d6cd4f417b                     SYDNEY CRICKET GROUND
12  f79ae8f54fa143cf                            AURORA STADIUM
18  b8224b1ac3ab4974                    TED SUMMERTON  RESERVE
20  abfe4c602ff846b5                 SYDNEY SHOWGROUND STADIUM
30  d223189b34c54f27                    GEELONG CRICKET GROUND
39  9e8d95386515453d                              CARRARA OVAL
41  a537f5d0b2934847  SIMONDS STADIUM, SOUTH GEELONG, VICTORIA
55  d4443da63aaf4426                          METRICON STADIUM

In [8]:
import datetime

load_timestamp = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

venue_df["load_timestamp"] = load_timestamp

In [9]:
venue_df["stadium_name"] = venue_df["stadium_name"].apply(lambda x: x.upper())

In [10]:
venue_df = venue_df.drop_duplicates(subset="stadium_name", keep="first")

In [11]:
# Define the existing venues count and the current session's venue count
existing_venues_count = 50
current_session_venues_count = len(venue_df)

# Generate venue IDs based on the existing and current session's venue count
venue_ids = range(
    existing_venues_count, existing_venues_count + current_session_venues_count
)

# Update the venue_df DataFrame with the new columns
venue_df["venue_id"] = venue_ids

In [13]:
venue_df.set_index("venue_id", inplace=True)

In [14]:
import duckdb
from deltalake import DeltaTable
from deltalake.writer import write_deltalake
import pickle

import os
from dotenv import load_dotenv

local_delta_lake_path = os.getenv("local_delta_lake_path")


def update_existing_data(serialized_df, table_name):
    df = pickle.loads(serialized_df)
    table_path = f"{local_delta_lake_path}/{table_name}"
    write_deltalake(table_path, df)

In [15]:
serialized_df = pickle.dumps(venue_df)
# update_existing_data(serialized_df, "venues")
print(venue_df)

              src_venue_id                              stadium_name  \
venue_id
50        2d76e13f3def482f                         DOCKLANDS STADIUM
51        462dad2f1cf347ce                            BELLERIVE OVAL
52        fd4b3ccd1f524288                  MELBOURNE CRICKET GROUND
53        b94d68f812c1498a                             ADELAIDE OVAL
54        3908affef270416e                               MANUKA OVAL
55        3b32cf9b18174328                   BRISBANE CRICKET GROUND
56        f93b47c36dce4767                             PERTH STADIUM
57        09b368d6cd4f417b                     SYDNEY CRICKET GROUND
58        f79ae8f54fa143cf                            AURORA STADIUM
59        b8224b1ac3ab4974                    TED SUMMERTON  RESERVE
60        abfe4c602ff846b5                 SYDNEY SHOWGROUND STADIUM
61        d223189b34c54f27                    GEELONG CRICKET GROUND
62        9e8d95386515453d                              CARRARA OVAL
63        a537f5d0b2934847  SIMONDS STADIUM, SOUTH GEELONG, VICTORIA
64        d4443da63aaf4426                          METRICON STADIUM

               load_timestamp
venue_id
50        2023-07-12 13:48:17
51        2023-07-12 13:48:17
52        2023-07-12 13:48:17
53        2023-07-12 13:48:17
54        2023-07-12 13:48:17
55        2023-07-12 13:48:17
56        2023-07-12 13:48:17
57        2023-07-12 13:48:17
58        2023-07-12 13:48:17
59        2023-07-12 13:48:17
60        2023-07-12 13:48:17
61        2023-07-12 13:48:17
62        2023-07-12 13:48:17
63        2023-07-12 13:48:17
64        2023-07-12 13:48:17